<table summary="Driver Race Results">
	<tr class="twelve">
		<td class="lefty">Race</td>
		<td class="middy">Place</td>
		<td class="middy">Points</td>
		<td class="lefty">Owner</td>
	</tr>
	<% @driver.race_results.each do |result| %>
		<% race = result.race %>
		<% owner = result.race_relation.user unless result.race_relation.nil? %>
		<tr class="ten">
			<td class="lefty"><%= link_to "#{race.name}", race %></td>
			<td class="middy"><%= result.place %></td>
			<td class="middy"><%= result.points %></td>
			<td class="lefty">
			<% if !owner.nil? %>
				<%= link_to "#{owner.name}", owner %>
			<% end %>
			</td>
			</td>
		</tr>
	<% end %>
</table>
