<tr class="twelve">
	<td class="middy"><%= gravatar_for message_post.user, :size => 30 %></td>
	<td class="lefty"><%= link_to message_post.user.name, message_post.user %></td>
	<td class="lefty"><%= link_to message_post.subject, message_post %></td>
</tr>
